@font-face {
    font-family: TheFont;
    src: url(fonts/Montserrat-Black.otf);
}
head_part {
	position: absolute;
	font-family: TheFont;
	left: 0%;
	right: 0%;
	width: 100%;
	top: 5%;
	text-align: center;
	font-size: 1.5vw;
}
big_square2 {
	display: inline-block;
	position: absolute;
	left: 5%;
	top: 15%;
	width: 25%;
}
big_square2_text {
	position: inherit;
	left: 5%;
	bottom: 5%;
	text-align: center;
	font-family: TheFont;
	font-size: 1vw;
}
big_square1 {
	display: inline-block;
	position: absolute;
	left: 38%;
	top: 15%;
	width: 25%;
}
big_square1_text {
	position: inherit;
	left: 5%;
	bottom: 5%;
	text-align: center;
	font-family: TheFont;
	font-size: 1vw;
}
big_square3 {
	display: inline-block;
	position: absolute;
	right: 5%;
	top: 15%;
	width: 25%;
}
big_square3_text {
	position: inherit;
	left: 5%;
	bottom: 5%;
	text-align: center;
	font-family: TheFont;
	font-size: 1vw;
}
img {
	width: 100%;
}
